.calculator {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 100vh;
}

.displayOutside {
  height: 25vh;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 75vh;
}

.numbers {
  width: 75%;
}

.oneToNine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.operations {
  width: 25%;
}
